<div class="container container-md bg-light mt-2  border rounded border border-success p-3"
    style="--bs-bg-opacity: .85;">
    <p>
        LEI Nº 11.340, DE 7 DE AGOSTO DE 2006....
        TÍTULO I
    </p>
    <p>DISPOSIÇÕES PRELIMINARES</p>
    <p>
        Art. 1º Esta Lei cria mecanismos para coibir e prevenir a violência doméstica e familiar contra a mulher, nos
        termos do § 8º do art. 226 da Constituição Federal, da Convenção sobre a Eliminação de Todas as Formas de
        Violência contra a Mulher, da Convenção Interamericana para Prevenir, Punir e Erradicar a Violência contra a
        Mulher e de outros tratados internacionais ratificados pela República Federativa do Brasil; dispõe sobre a
        criação dos Juizados de Violência Doméstica e Familiar contra a Mulher; e estabelece medidas de assistência e
        proteção às mulheres em situação de violência doméstica e familiar.
    </p>
    <p>
        Art. 2º Toda mulher, independentemente de classe, raça, etnia, orientação sexual, renda, cultura, nível
        educacional, idade e religião, goza dos direitos fundamentais inerentes à pessoa humana, sendo-lhe asseguradas
        as oportunidades e facilidades para viver sem violência, preservar sua saúde física e mental e seu
        aperfeiçoamento moral, intelectual e social.
    </p>
    <p>
        Art. 3º Serão asseguradas às mulheres as condições para o exercício efetivo dos direitos à vida, à segurança, à
        saúde, à alimentação, à educação, à cultura, à moradia, ao acesso à justiça, ao esporte, ao lazer, ao trabalho,
        à cidadania, à liberdade, à dignidade, ao respeito e à convivência familiar e comunitária.

    </p>
    <p class="d-flex justify-content-center">.</p>
    <p class="d-flex justify-content-center">.</p>
    <p class="d-flex justify-content-center">.</p>
    
</div>