<div class="container container-md bg-light mt-2 rounded border border-success p-3"
    style="--bs-bg-opacity: .85;">
    <p class="text-center">
        <iframe class="" width="560" height="315" src="https://www.youtube.com/embed/C-yVjXLPP4k?si=XIHq4fy7rVmODrVp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </p>
</div>