<div class="container container-md bg-light mt-2 container-fluid border rounded border border-success p-3"
    style="--bs-bg-opacity: .9;">
    <p class="text-justify">
        Muitas vezes a vítima não consegue reconhecer esse tipo de relação abusiva. O teste a seguir foi criado para
        ajudar nessa autoavaliação e é de extrema importância que as repostas sejam verdadeiras. As perguntas foram
        desenvolvidas pela Pubsecrtária Estadual de Políticas Públicas para Mulheres em ___ e constam em Cartilha
    </p>
        <p>"Violência contra a Mulher não tem desculpa".</p>
</div>